/dist/
/libreria/Simulacion---Inventario-master/nbproject/private/
/libreria/Minorista-simulado-master/nbproject/private/
/libreria/Generador/build/
/libreria/Generador/dist/
/libreria/Generador/nbproject/private/